{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}

{% block body %}

<img class="rounded-full shadow-md mt-12 w-1/3" src="{{ asset('/img/GRENOBLE_BLASON.png') }}" alt='Grenoble flag' />
    <h1 class="mt-5 text-3xl sm:text-5xl text-semibold text-red-500">Hello from Grenoble!</h1>
 <p class="text-lg text-gray-800"> It is currently {{ 'now'|date('h:i A') }}

{% endblock %}
